:root {
  --consuming-color: #f37320;
  --producing-color: #01b4de;
  --net-color: #6b7073;
  color-scheme: dark light;
}

html {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'producing producing producing producing'
    'net producing-grid-animation producing-consuming-animation consuming'
    'net grid-consuming-animation grid-consuming-animation consuming';
  margin-block-end: -48px;
}

.producing {
  grid-area: producing;
}

.net {
  grid-area: net;
}

.consuming {
  grid-area: consuming;
}

.grid-consuming-animation {
  grid-area: grid-consuming-animation;
}

.producing-grid-animation {
  grid-area: producing-grid-animation;
}

.producing-consuming-animation {
  grid-area: producing-consuming-animation;
}

.producing,
.net,
.consuming,
.producing-grid-animation,
.producing-consuming-animation,
.grid-consuming-animation {
  text-align: center;
}

.producing,
.net,
.consuming {
  font-weight: bold;
  font-variant: tabular-nums;
}

.producing {
  color: var(--producing-color);
}

.consuming {
  color: var(--consuming-color);
}

.net {
  color: var(--net-color);
}

h3 {
  color: var(--net-color);
  font-size: 1rem;
  font-weight: normal;
  margin-block: 0;
}

p {
  margin-block: 0;
}

.sparkline {
  fill: none;
}

.producing-sparkline {
  stroke: var(--producing-color);
}

.consuming-sparkline {
  stroke: var(--consuming-color);
}

.exporting-sparkline,
.importing-sparkline {
  stroke: var(--net-color);
}

.led-red {
  display: inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ff0000;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    rgba(255, 0, 0, 0.5) 0 2px 12px;
  animation: blink-red 1.5s infinite;
}

.led-green {
  display: inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #89ff00 0 2px 12px;
  animation: blink-green 1.5s infinite;
}

@keyframes blink-red {
  from {
    background-color: #ff0000;
  }
  50% {
    background-color: rgb(81, 3, 10);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
      rgba(56, 1, 1, 0.5) 0 2px 0;
  }
  to {
    background-color: #ff0000;
  }
}

@keyframes blink-green {
  from {
    background-color: #abff00;
  }
  50% {
    background-color: rgb(3, 65, 26);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
      rgba(2, 92, 26, 0.5) 0 2px 0;
  }
  to {
    background-color: #abff00;
  }
}
